<div> this is the overview component</div>

<ul class="events">
  <div>name</div> <div>funds</div> <div>date</div>
  <li *ngFor="let event of events" (click)="onSelect(event)">
    <div >name {{event.name}} net cost {{event.funds}}</div>
  </li>
</ul>

<div>
  <label>Event Name:
    <input #eventName />
  </label>

  <label> Funds:
    <input #eventFunds />
  </label>

  <label> Date:
    <input #eventDate placeholder="must be YYYY-MM-DD"/>
  </label>


  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(eventName.value,eventFunds.value,eventDate.value);eventName.value='';eventFunds.value='';eventDate.value=''">
    add
  </button>
</div>

<div *ngIf="selectedEvent">

  <h2>{{ selectedEvent.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedEvent.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedEvent.name" placeholder="name">
    </label>
  </div>
  <a routerLink="/detail/{{selectedEvent.id}}">
    Edit
  </a>

</div>
