<div class="overview">
  <ul class="events">
    <div class="budget-item budget-header">
      <div class="budget-item-single">name</div>
      <div class="budget-item-single">funds</div>
      <div class="budget-item-single">date</div>
    </div>
    <li class="budget-item" *ngFor="let event of events" (click)="onSelect(event)">
      <div class="budget-item-single">{{event.name}}</div>
      <div class="budget-item-single">{{event.funds}}</div>
      <div class="budget-item-single">{{event.date.split('T')[0]}}</div>
    </li>

    <div class="post">

      <div><br>Add an event: </div>
      <label>Event:
        <input #eventName />
      </label>

      <label> Funds:
        <input #eventFunds />
      </label>

      <label> Date:
        <input #eventDate placeholder="must be YYYY-MM-DD"/>
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="add-button" (click)="add(eventName.value,eventFunds.value,eventDate.value);eventName.value='';eventFunds.value='';eventDate.value=''">
      add
    </button>
    </div>
  </ul>

  <div *ngIf="selectedEvent">

    <h2>{{ selectedEvent.name }} Details</h2>
    <!-- <div><span>id: </span>{{selectedEvent.id}}</div> -->
    <div>

      <div>{{selectedEvent.name}}</div>
      <div>{{selectedEvent.funds}}</div>
      <div>{{selectedEvent.date}}</div>

    </div>
    <a routerLink="/detail/{{selectedEvent.id}}">
    Edit
  </a>

  </div>
</div>
